.wrapper {
  min-height: 100vh;
  padding: var(--spaces-10) 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: var(--spaces-8);
}

.card {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 64rem;
  height: auto;

  @include breakpoints.mobile {
    height: unset;
    max-width: unset;
    border-radius: 0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
