.header {
    font-size: var(--font-size-5);

    display: flex;
    align-items: center;
    gap: var(--spaces-6);

    padding: var(--spaces-6);

    > span {
        flex: 1;
    }

    figure {
        width: var(--spaces-5);
        height: var(--spaces-5);
    }
}