.main {
    min-height: 100vh;
    overflow: hidden;

    padding: 0 var(--spaces-10);

    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoints.mobile {
        padding: 0 var(--spaces-6);
    }
}