.header {
  font-size: var(--font-size-5);

  display: flex;
  align-items: center;
  gap: var(--spaces-6);

  padding: var(--spaces-6);

  > span {
    flex: 1;
  }

  figure {
    width: var(--spaces-5);
    height: var(--spaces-5);
  }
}

.participants {
  position: relative;
  white-space: nowrap;

  &:hover {
    .participantsList {
      visibility: visible;
      transform: translateX(-50%) scale(1);
      opacity: 1;

      @include breakpoints.mobile {
        transform: scale(1);
      }
    }
  }
}

.participantsList {
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s, transform 0.3s;


  position: absolute;
  top: calc(100% + var(--spaces-4));
  left: 50%;

  opacity: 0;
  transform: translateX(-50%) scale(0.9);

  display: flex;
  flex-direction: column;

  background-color: var(--colors-base-white);
  box-shadow: 0 var(--spaces-1) var(--spaces-1) rgba(0, 0, 0, 0.1);

  padding: var(--spaces-4);
  gap: var(--spaces-2);
  border-radius: var(--spaces-4);
  font-size: var(--font-size-3);

  @include breakpoints.mobile {
    right: calc(var(--spaces-4) * -1);
    left: unset;
    transform: scale(0.9);
  }
}

.participant {
  display: flex;
  align-items: center;
  gap: var(--spaces-2);
}

.participantStatus {
  width: var(--spaces-2);
  height: var(--spaces-2);
  border-radius: 100%;
}

.participantStatus__offline {
  background-color: #f44336;
}

.participantStatus__online {
  background-color: #4caf50;
}

.iconButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}